
.avatar {
	width: 12rem;
	height: 12rem;
	border-radius: 50%;
}

.name {
	margin-top: 0.8rem;
	margin-bottom: 0;
	font-weight: normal;
}

.designation {
	margin-top: 0.2rem;
	font-size: 1rem;
	color: lightgrey;
}

.menu-button {
	width: 100%;
	text-align: start;

	mat-icon {
		margin-right: 0.8rem;
	}
}

.mat-divider {
	margin-top: 1.6rem;
	margin-bottom: 1.6rem;
	background-color: rgba(255, 255, 255, 0.5);
}

button.active {
	background-color: rgba(175, 175, 175, 0.3);
}

.mini-badge {
	transform: scale(0.7);
}

.mini-badge-toolbar {
	@media only screen and (min-width: 1280px) {
		display: none;
	}
}

