
.admin-table-container {
	overflow-x: auto;
	max-height: calc(100vh - 20rem);

	.admin-table {
		.mat-cell {
			word-break: normal;
		}
	}
}

.admin-scroll-top-button {
	position: absolute;
	bottom: 5rem;
	right: 5%;
	background-color: rgba(198, 198, 198, 0.4);
	z-index: 10;

	@media only screen and (max-width: 839.98px) {
		transform: scale(0.7);
		bottom: 9rem;
		right: 1.5rem;
	}
}
