<ng-container>
	<h2 mat-dialog-title>Create New User</h2>
	<mat-dialog-content>
		<form id="userForm" [formGroup]="passwordForm">
			<mat-form-field class="admin-form-field" appearance="outline"
							(mouseenter)="mouseIn = true"
							(mouseleave)="mouseIn = false"
							(focus)="mouseIn = true"
							(blur)="mouseIn = false"
							(focusout)="hideVisibilityIcon = !mouseIn && hidePassword && oldPasswordInput.value===''"
							(focusin)="hideVisibilityIcon = false">
				<mat-label>Current Password</mat-label>
				<input #oldPasswordInput matInput formControlName="currentPassword"
					   [type]="hidePassword ? 'password' : 'text'" placeholder="Current Password" required>
				<button *ngIf="currentPassword.value" matSuffix mat-icon-button
						(click)="currentPassword.setValue('')">
					<mat-icon>close</mat-icon>
				</button>
				<button *ngIf="!hideVisibilityIcon"
						type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
					<mat-icon>{{hidePassword ? "visibility_off" : "visibility"}}</mat-icon>
				</button>
				<mat-error *ngIf="currentPassword.invalid && (currentPassword.dirty || currentPassword.touched)">
					<div *ngIf="currentPassword.errors?.required">Current Password is required</div>
				</mat-error>
			</mat-form-field>

			<mat-form-field class="admin-form-field" appearance="outline"
							(mouseenter)="mouseIn2 = true"
							(mouseleave)="mouseIn2 = false"
							(focus)="mouseIn2 = true"
							(blur)="mouseIn2 = false"
							(focusout)="hideVisibilityIcon2 = !mouseIn2 && hidePassword2 && newPasswordInput.value===''"
							(focusin)="hideVisibilityIcon2 = false">
				<mat-label>New Password</mat-label>
				<input #newPasswordInput matInput formControlName="newPassword"
					   [type]="hidePassword2 ? 'password' : 'text'" placeholder="New Password" required>
				<button *ngIf="newPassword.value" matSuffix mat-icon-button
						(click)="newPassword.setValue('')">
					<mat-icon>close</mat-icon>
				</button>
				<button *ngIf="!hideVisibilityIcon2"
						type="button" mat-icon-button matSuffix (click)="hidePassword2 = !hidePassword2">
					<mat-icon>{{hidePassword2 ? "visibility_off" : "visibility"}}</mat-icon>
				</button>
				<mat-error *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)">
					<div *ngIf="newPassword.errors?.required">New Password is required</div>
				</mat-error>
			</mat-form-field>

			<mat-form-field class="admin-form-field" appearance="outline"
							(mouseenter)="mouseIn2 = true"
							(mouseleave)="mouseIn2 = false"
							(focus)="mouseIn2 = true"
							(blur)="mouseIn2 = false"
							(focusout)="hideVisibilityIcon2 = !mouseIn && hidePassword2
							&& newPasswordConfirmInput.value===''"
							(focusin)="hideVisibilityIcon2 = false">
				<mat-label>New Password Confirmation</mat-label>
				<input #newPasswordConfirmInput matInput formControlName="newPasswordConfirm" [errorStateMatcher]="matcher"
					   [type]="hidePassword2 ? 'password' : 'text'" placeholder="New Password Confirmation" required>
				<button *ngIf="newPasswordConfirm.value" matSuffix mat-icon-button
						(click)="newPasswordConfirm.setValue('')">
					<mat-icon>close</mat-icon>
				</button>
				<button *ngIf="!hideVisibilityIcon2"
						type="button" mat-icon-button matSuffix (click)="hidePassword2 = !hidePassword2">
					<mat-icon>{{hidePassword2 ? "visibility_off" : "visibility"}}</mat-icon>
				</button>
				<mat-error *ngIf="newPasswordConfirm.invalid && (newPasswordConfirm.dirty || newPasswordConfirm.touched)">
					<div *ngIf="newPasswordConfirm.errors?.required">New Password Confirmation is required</div>
				</mat-error>
				<mat-error *ngIf="passwordForm.errors?.mismatch">
					New Password and new password confirmation are not met
				</mat-error>
			</mat-form-field>
		</form>

	</mat-dialog-content>
	<mat-dialog-actions align="end">
		<button mat-raised-button color="primary" [disabled]="!passwordForm.valid"
				(click)="create()">Save
		</button>
		<button mat-button mat-dialog-close>Cancel</button>
	</mat-dialog-actions>
</ng-container>


