.section-card {
	margin-bottom: 3rem;

	.card-content {
		line-height: 4rem;

		font-size: 2rem;
		color: #898989;

		ul {
			padding-inline-start: 0;
			list-style: none;
			display: table;
		}

		li {
			display: table-row;
		}

		b {
			display: table-cell;
			padding-right: 2rem;
		}
	}

	.action-button {
		width: 100%;
	}
}


