<div class="main">
	<mat-card class="content-card" *ngIf="enrollments$ | async as enrollments">
		<mat-card-title>{{title}}</mat-card-title>
		<mat-card-subtitle>{{subtitle}}</mat-card-subtitle>
		<mat-card-content>
			<form id="selectTermForm" [formGroup]="selectTermForm">
				<mat-form-field class="form-field" appearance="outline">
					<mat-label>Term</mat-label>
					<mat-select formControlName="term" (selectionChange)="getEnrollments()">
						<mat-option *ngFor="let termName of termNames" [value]="termName">
							{{termName}}
						</mat-option>
					</mat-select>
					<mat-error *ngIf="term.invalid && (term.dirty || term.touched)">
						<div *ngIf="term.errors?.required">Term is required</div>
					</mat-error>
				</mat-form-field>
			</form>

			<ng-container *ngIf="legendRef" [ngTemplateOutlet]="legendRef">
			</ng-container>

			<br>
			<button mat-raised-button color="accent"
					(click)="openErrorMessages()">
				Error Logs
			</button>
			<br>
			<br>

			<ng-container *ngIf="true | isLoading | async; else empty">
				<app-loading [overlay]="true"></app-loading>
			</ng-container>

			<ng-template #empty>
				<div class="empty" *ngIf="enrollments.length === 0">
					<span>Wow, such empty</span>
				</div>
			</ng-template>

			<ng-container *ngIf="enrollments.length > 0">
				<div *appVar="{isSmallScreen: 'ltMd' | matchMedia | async} as media">
					<div *ngIf="!media.isSmallScreen">
						<table mat-table [dataSource]="enrollments" class="mat-elevation-z8">
							<!-- Course and Section Column -->
							<ng-container matColumnDef="section">
								<th mat-header-cell *matHeaderCellDef>Course & Section</th>
								<td mat-cell *matCellDef="let enrollment">
									<ng-container *ngIf="asEnrollment(enrollment) as enrollment">
										{{enrollment.courseCode}}.{{enrollment.sectionNumber | number: '2.0-0'}}
									</ng-container>
								</td>
							</ng-container>

							<!-- Days and Times Column -->
							<ng-container matColumnDef="schedule">
								<th mat-header-cell *matHeaderCellDef>Days & Times</th>
								<td mat-cell *matCellDef="let enrollment">
									<ng-container *ngIf="asEnrollment(enrollment) as enrollment">
										{{enrollment.meetingDays}}
										{{'2000-01-01 ' + enrollment.meetingTimeStart | date:'shortTime'}} -
										{{'2000-01-01 ' + enrollment.meetingTimeEnd | date:'shortTime'}}
									</ng-container>
								</td>
							</ng-container>

							<!-- Room Column -->
							<ng-container matColumnDef="room">
								<th mat-header-cell *matHeaderCellDef>Room</th>
								<td mat-cell *matCellDef="let enrollment">
									<ng-container *ngIf="asEnrollment(enrollment) as enrollment">
										Bldg.{{enrollment.buildingNumber}} - Rm.{{enrollment.roomNumber}}
									</ng-container>
								</td>
							</ng-container>

							<!-- Instructor Column -->
							<ng-container matColumnDef="instructor">
								<th mat-header-cell *matHeaderCellDef>Instructor</th>
								<td mat-cell *matCellDef="let enrollment">
									<ng-container *ngIf="asEnrollment(enrollment) as enrollment">
										{{enrollment.instructorFirstName}} {{enrollment.instructorLastName}}
									</ng-container>
								</td>
							</ng-container>

							<!-- Meeting Dates Column -->
							<ng-container matColumnDef="dates">
								<th mat-header-cell *matHeaderCellDef>Meeting Dates</th>
								<td mat-cell *matCellDef="let enrollment">
									<ng-container *ngIf="asEnrollment(enrollment) as enrollment">
										{{enrollment.dateStart | date:'shortDate'}}
										- {{enrollment.dateEnd | date:'shortDate'}}
									</ng-container>
								</td>
							</ng-container>

							<!-- Capacity Column -->
							<ng-container matColumnDef="capacity">
								<th mat-header-cell *matHeaderCellDef>Capacity</th>
								<td mat-cell *matCellDef="let enrollment">
									<ng-container *ngIf="asEnrollment(enrollment) as enrollment">
										{{enrollment.classCapacity}}
									</ng-container>
								</td>
							</ng-container>

							<!-- Enrolled Column -->
							<ng-container matColumnDef="enrolled">
								<th mat-header-cell *matHeaderCellDef>Enrolled</th>
								<td mat-cell *matCellDef="let enrollment">
									<ng-container *ngIf="asEnrollment(enrollment) as enrollment">
										{{enrollment.enrolledNumber}}
									</ng-container>
								</td>
							</ng-container>

							<!-- WaitList Column -->
							<ng-container matColumnDef="waitList">
								<th mat-header-cell *matHeaderCellDef>WaitList</th>
								<td mat-cell *matCellDef="let enrollment">
									<ng-container *ngIf="asEnrollment(enrollment) as enrollment">
										{{enrollment.waitingNumber}}
									</ng-container>
								</td>
							</ng-container>

							<!-- Status Column -->
							<ng-container matColumnDef="status">
								<th mat-header-cell *matHeaderCellDef>Status</th>
								<td mat-cell *matCellDef="let enrollment">
									<ng-container *ngIf="asEnrollment(enrollment) as enrollment">
										<ng-container *ngIf="sectionStatusRef"
													  [ngTemplateOutlet]="sectionStatusRef"
													  [ngTemplateOutletContext]="{$implicit: enrollment}">
										</ng-container>
									</ng-container>
								</td>
							</ng-container>

							<!-- Action Column -->
							<ng-container matColumnDef="action">
								<th mat-header-cell *matHeaderCellDef></th>
								<td mat-cell *matCellDef="let enrollment">
									<ng-container *ngIf="asEnrollment(enrollment) as enrollment">
										<ng-container *ngIf="actionButtonRef"
													  [ngTemplateOutlet]="actionButtonRef"
													  [ngTemplateOutletContext]="{$implicit: enrollment}">
										</ng-container>
									</ng-container>
								</td>
							</ng-container>

							<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
							<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
						</table>
					</div>

					<div *ngIf="media.isSmallScreen">
						<mat-card class="section-card mat-elevation-z8" *ngFor="let enrollment of enrollments">
							<mat-card-title>{{enrollment.courseCode}}</mat-card-title>
							<mat-card-subtitle>
								{{enrollment.courseName}}
							</mat-card-subtitle>
							<mat-card-content class="small-card">
								<ul>
									<li>
										<b>Section</b>: {{enrollment.sectionNumber}}
									</li>
									<li>
										<b>Days & Times</b>: {{enrollment.meetingDays}}
										{{'2000-01-01 ' + enrollment.meetingTimeStart | date:'shortTime'}} -
										{{'2000-01-01 ' + enrollment.meetingTimeEnd | date:'shortTime'}}
									</li>
									<li>
										<b>Room</b>: Bldg.{{enrollment.buildingNumber}} - Rm.{{enrollment.roomNumber}}
									</li>
									<li>
										<b>Instructor</b>: {{enrollment.instructorFirstName}} {{enrollment.instructorLastName}}
									</li>

									<li>
										<b>Meeting Dates</b>: {{enrollment.dateStart | date:'shortDate'}}
										- {{enrollment.dateEnd | date:'shortDate'}}
									</li>
									<ng-container *ngIf="smallSectionStatusRef"
												  [ngTemplateOutlet]="smallSectionStatusRef"
												  [ngTemplateOutletContext]="{$implicit: enrollment}">
									</ng-container>
									<li>
										<b>Wait List</b>: {{enrollment.waitingNumber}}
									</li>
								</ul>
							</mat-card-content>
							<ng-container *ngIf="smallActionButtonRef"
										  [ngTemplateOutlet]="smallActionButtonRef"
										  [ngTemplateOutletContext]="{$implicit: enrollment}">
							</ng-container>
						</mat-card>
					</div>
				</div>
			</ng-container>

		</mat-card-content>
		<mat-card-actions class="card-action">
			<ng-container *ngIf="enrollButtonRef"
						  [ngTemplateOutlet]="enrollButtonRef"
						  [ngTemplateOutletContext]="{$implicit: enrollments}">
			</ng-container>
		</mat-card-actions>
	</mat-card>
</div>
