<ng-container>
	<h2 mat-dialog-title>Edit Student</h2>
	<mat-dialog-content>
		<form id="studentForm" [formGroup]="studentForm">
			<mat-form-field class="admin-form-field" appearance="outline">
				<mat-label>Max Unit</mat-label>
				<input type="number" matInput formControlName="maxUnit">
				<button *ngIf="maxUnit.value" matSuffix mat-icon-button
						(click)="maxUnit.setValue('')">
					<mat-icon>close</mat-icon>
				</button>
				<mat-error *ngIf="maxUnit.invalid && (maxUnit.dirty || maxUnit.touched)">
					<div *ngIf="maxUnit.errors?.required">Max unit is required</div>
					<div *ngIf="maxUnit.errors?.max">Maximum unit is 20</div>
				</mat-error>
			</mat-form-field>
		</form>

	</mat-dialog-content>
	<mat-dialog-actions align="end">
		<button mat-raised-button color="primary" [disabled]="!studentForm.valid || !studentForm.dirty"
				(click)="saveEdit()">Save
		</button>
		<button mat-button mat-dialog-close>Cancel</button>
	</mat-dialog-actions>
</ng-container>



