.wrapper {
	display: flex;
}

.main {
	width: 100%;
	min-height: calc(100vh - 14rem);

	.content-card {
		padding: 2rem 7rem 2rem 7rem;
		height: 100%;

		@media only screen and (max-width: 1279.98px) {
			padding: 2rem 5rem 2rem 5rem;
		}

		@media only screen and (max-width: 959.98px) {
			padding: 2rem 2rem 2rem 2rem;
		}

		@media only screen and (max-width: 599.98px) {
			padding: 2rem 0.8rem 2rem 0.8rem;
		}

		.profile-content {
			line-height: 4rem;

			ul {
				padding-inline-start: 0;
				list-style: none;
				display: table;
			}

			li {
				display: table-row;
			}

			b {
				display: table-cell;
				padding-right: 2rem;
			}
		}
	}
}
