table {
	table-layout: fixed;
	border-collapse: collapse;
	width: 100%;
	text-align: center;

	.mat-cell {
		padding: 0.4rem 0.4rem 0.4rem 0.4rem;
	}

	tr:nth-child(even) {
		background-color: #f2f2f2;
	}

	tr:nth-child(odd) {
		background-color: #ddd;
	}

	th {
		text-align: center;
		font-weight: bold;
		font-size: 1.3rem;
		background-color: #808080;
		color: white;
	}
}

.accordion {
	background-color: #f4fdfa;
}

.course-info-button {
	background-color: rgba(227, 227, 227, 0.6);
	.course-info-title {
		margin-right: 0.5rem;
	}
}

.mat-expansion-panel-header-description {
	display: flex;
	justify-content: flex-end;
}

.section-card {
	margin-bottom: 3rem;

	.card-content {
		line-height: 4rem;

		font-size: 2rem;
		color: #898989;

		ul {
			padding-inline-start: 0;
			list-style: none;
			display: table;
		}

		li {
			display: table-row;
		}

		b {
			display: table-cell;
			padding-right: 2rem;
		}
	}

	.action-button {
		width: 100%;
	}
}
