<div class="admin-main">
	<mat-card class="content-card">
		<mat-card-title>{{title}}</mat-card-title>
		<mat-card-subtitle>{{subtitle}}</mat-card-subtitle>
		<mat-card-content *appVar="termPage$ | async as termPage">

			<div class="admin-function-button">
				<button mat-raised-button color="accent"
						(click)="openErrorMessages()">
					<mat-icon>warning</mat-icon>
					Error Logs
				</button>
				<button mat-raised-button color="primary"
						(click)="createTerm()">
					<mat-icon>add</mat-icon>
					Create
				</button>
			</div>

			<ng-container *ngIf="true | isLoading | async; else empty">
				<app-loading [overlay]="true"></app-loading>
			</ng-container>

			<ng-template #empty>
				<app-empty-result *ngIf="termPage.empty"></app-empty-result>
			</ng-template>

			<div *ngIf="!termPage.empty">
				<div class="admin-table-container mat-elevation-z8">
					<table class="admin-table" mat-table [dataSource]="termPage.content" [trackBy]="trackTerm"
						   matSort [matSortActive]="sortActive" [matSortDirection]="sortDirection" matSortDisableClear
						   (matSortChange)="onSortChange($event)">
						<!-- Id Column-->
						<ng-container matColumnDef="id">
							<th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
							<td data-th="Id" mat-cell *matCellDef="let term">
								<ng-container *ngIf="asTerm(term) as term">
									{{term.id}}
								</ng-container>
							</td>
						</ng-container>

						<!-- Term Name Column -->
						<ng-container matColumnDef="termName">
							<th mat-header-cell *matHeaderCellDef mat-sort-header>Term Name</th>
							<td data-th="Term Name" mat-cell *matCellDef="let term">
								<ng-container *ngIf="asTerm(term) as term">
									{{term.termName}}
								</ng-container>
							</td>
						</ng-container>

						<!-- Date Start Column -->
						<ng-container matColumnDef="dateStart">
							<th mat-header-cell *matHeaderCellDef mat-sort-header>Date Start</th>
							<td data-th="Date Start" mat-cell *matCellDef="let term">
								<ng-container *ngIf="asTerm(term) as term">
									{{term.dateStart | date:'shortDate'}}
								</ng-container>
							</td>
						</ng-container>

						<!-- Date End Column -->
						<ng-container matColumnDef="dateEnd">
							<th mat-header-cell *matHeaderCellDef mat-sort-header>Date End</th>
							<td data-th="Date End" mat-cell *matCellDef="let term">
								<ng-container *ngIf="asTerm(term) as term">
									{{term.dateEnd | date:'shortDate'}}
								</ng-container>
							</td>
						</ng-container>

						<!-- Edit Column -->
						<ng-container matColumnDef="edit">
							<th mat-header-cell *matHeaderCellDef>Edit</th>
							<td data-th="Edit" mat-cell *matCellDef="let term">
								<ng-container *ngIf="asTerm(term) as term">
									<button mat-icon-button (click)="editTerm(term)">
										<mat-icon>edit</mat-icon>
									</button>
								</ng-container>
							</td>
						</ng-container>

						<!-- Delete Column -->
						<ng-container matColumnDef="delete">
							<th mat-header-cell *matHeaderCellDef>Delete</th>
							<td data-th="Delete" mat-cell *matCellDef="let term">
								<ng-container *ngIf="asTerm(term) as term">
									<button mat-icon-button color="warn" (click)="deleteTerm(term)">
										<mat-icon>delete</mat-icon>
									</button>
								</ng-container>
							</td>
						</ng-container>

						<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
						<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
					</table>
					<div class="admin-mat-paginator-sticky">
						<app-paginator
							[length]="termPage.totalElements"
							[pageSize]="termPage.size"
							[pageIndex]="termPage.number"
							[showFirstLastButtons]="true"
							(page)="onPageEvent($event)">
						</app-paginator>
					</div>
				</div>
			</div>
		</mat-card-content>
	</mat-card>
</div>
