<ng-container *appVar="{ltLarge: 'ltLg' | matchMedia | async, xSmall: 'xs' | matchMedia | async} as media">
	<mat-toolbar color="primary">
		<button *ngIf="media.ltLarge" mat-icon-button (click)="sidenav.toggle()">
			<mat-icon>menu</mat-icon>
		</button>
		<span *ngIf="!media.ltLarge">{{title}}</span>

		<span class="fill-remaining-spacer"></span>
		<a href="https://github.com/kle97/enrollment-system"
		   target="_blank"
		   mat-button
		   class="github">
			<img src="/assets/images/github-icon.png" alt="github-icon">
			<span>GitHub</span>
		</a>
		<span class="fill-remaining-spacer"></span>

		<ng-container *ngIf="toolbarListRef" [ngTemplateOutlet]="toolbarListRef">
		</ng-container>

		<ng-container *ngIf="!media.xSmall; else threeDot">
			<button mat-button>
				<span>Hello, </span>
				<app-greeting></app-greeting>
			</button>
			<app-logout></app-logout>
		</ng-container>

		<ng-template #threeDot>
			<button mat-icon-button [matMenuTriggerFor]="menu">
				<mat-icon>more_vert</mat-icon>
			</button>
			<mat-menu #menu="matMenu" xPosition="before">
				<a mat-menu-item>
					<app-greeting></app-greeting>
				</a>
				<app-logout></app-logout>
			</mat-menu>
		</ng-template>
	</mat-toolbar>

	<mat-sidenav-container class="dashboard-container">
		<mat-sidenav
			#sidenav
			class="mat-elevation-z8"
			[autoFocus]="false"
			[opened]="!media.ltLarge"
			[mode]="media.ltLarge ? 'over' : 'side'">

			<ng-container *ngIf="sidenavListRef" [ngTemplateOutlet]="sidenavListRef">
			</ng-container>

		</mat-sidenav>

		<mat-sidenav-content>
			<div #content class="content mat-elevation-z8" (scroll)="onScroll($event)">
				<ng-container *ngIf="sidenavContentRef" [ngTemplateOutlet]="sidenavContentRef">
				</ng-container>
				<button *ngIf="showScrollToTop" class="scroll-top-button"
						mat-icon-button (click)="scrollToTop()">
					<mat-icon>arrow_upward</mat-icon>
				</button>
			</div>
		</mat-sidenav-content>
	</mat-sidenav-container>
</ng-container>


