<app-enrollment-list #enrollmentList
					 [title]="title"
					 [subtitle]="subtitle"
					 [enrollmentStatuses]="enrollmentStatuses">
	<ng-template #legend>
		<div>
			<mat-icon color="primary">circle</mat-icon>
			: Open
		</div>
		<div>
			<mat-icon color="accent">change_history</mat-icon>
			: WaitList
		</div>
		<div>
			<mat-icon color="warn">square</mat-icon>
			: Closed
		</div>
	</ng-template>

	<ng-template let-enrollment #sectionStatus>
		<ng-container *ngIf="asEnrollment(enrollment) as enrollment"
			[ngSwitch]="enrollment.sectionStatus">
			<mat-icon *ngSwitchCase="'Open'" color="primary">circle</mat-icon>
			<mat-icon *ngSwitchCase="'WaitList'" color="accent">change_history</mat-icon>
			<mat-icon *ngSwitchCase="'Closed'" color="warn">square</mat-icon>
		</ng-container>
	</ng-template>

	<ng-template let-enrollment #smallSectionStatus>
		<li *ngIf="asEnrollment(enrollment) as enrollment"
			[ngSwitch]="enrollment.sectionStatus">
			<b>Status</b>:
			<mat-icon *ngSwitchCase="'Open'" color="primary">circle</mat-icon>
			<mat-icon *ngSwitchCase="'WaitList'" color="accent">change_history</mat-icon>
			<mat-icon *ngSwitchCase="'Closed'" color="warn">square</mat-icon>
		</li>
	</ng-template>

	<ng-template let-enrollment #actionButton>
		<button mat-raised-button color="warn"
				(click)="enrollmentList.removeEnrollment(enrollment)">
			Remove
		</button>
	</ng-template>

	<ng-template let-enrollment #smallActionButton>
		<mat-card-footer *ngIf="asEnrollment(enrollment) as enrollment">
			<button mat-raised-button class="action-button" color="warn"
					(click)="enrollmentList.removeEnrollment(enrollment)">
				Remove
			</button>
		</mat-card-footer>
	</ng-template>

	<ng-template let-enrollments #enrollButton>
		<mat-card-actions class="card-action">
			<button *ngIf="enrollments.length > 0"
					class="enroll-button" mat-raised-button color="primary"
					(click)="enrollmentList.enroll(enrollments)">
				Enroll
			</button>
		</mat-card-actions>
	</ng-template>
</app-enrollment-list>


