.admin-main {
	width: 100%;

	.content-card {
		padding: 2rem 2rem 2rem 2rem;
		min-height: calc(100vh - 13.9rem);
		height: 100%;

		//@media only screen and (max-width: 1279.98px) {
		//	padding: 2rem 5rem 2rem 5rem;
		//}
		//
		//@media only screen and (max-width: 959.98px) {
		//	padding: 2rem 2rem 2rem 2rem;
		//}

		@media only screen and (max-width: 599.98px) {
			padding: 2rem 0.8rem 2rem 0.8rem;
		}
	}
}

.admin-function-button > button {
	margin-right: 2rem;
	margin-bottom: 2rem;
}

.admin-table-container {

}

.admin-table {
	width: 100%;

	tr:nth-child(even) {
		background-color: #f2f2f2;
	}

	tr:nth-child(odd) {
		background-color: #ddd;
	}

	.mat-sort-header-arrow {
		color: white;
	}

	.mat-cell {
		padding: 0.2rem 1rem 0.2rem 1rem;
		word-break: break-word;
	}

	.mat-header-cell {
		padding: 0.2rem 1rem 0.2rem 1rem;
		font-weight: bold;
		font-size: 1.3rem;
		background-color: #8e8e8e;
		color: white;
	}

	@media (max-width: 839.98px) {
		display: table;
		line-height: 2.5rem;
		-webkit-border-vertical-spacing: 0.4rem !important;

		.mat-header-cell, .mat-header-row {
			display: none;
		}

		.mat-cell {
			display: table-row;
			border-bottom-style: hidden;

			&:before {
				display: table-cell;
				width: 10rem;
				padding: 1.5rem 0.8rem 1.5rem 0.8rem;
				content: attr(data-th) ": ";
				font-weight: bold;
			}
		}
	}
}

.admin-mat-paginator-sticky {
	position: sticky;
	position: -webkit-sticky;
	bottom: 0;
	width: 100%;
	background-color: white;
	z-index: 10;
}

.admin-form-field {
	display: block;
	width: 100%;
	max-width: 45rem;
	margin-bottom: 1.6rem;
	margin-right: 0.2rem;
}

.admin-additional-selection {
	opacity: 0.75;
	font-size: 0.75rem;
}

@media (min-width: 840px) {
	.admin-table-container::-webkit-scrollbar {
		height: 0.6rem;
		width: 0.6rem;
	}

	.admin-table-container::-webkit-scrollbar-track {
		background: transparent;
	}

	.admin-table-container::-webkit-scrollbar-corner {
		display: none;
	}

	.admin-table-container::-webkit-scrollbar-thumb {
		background: #c4c4c4;
	}

	.admin-table-container::-webkit-scrollbar-thumb:hover {
		background: #8e8e8e;
	}
}

